body {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}

.btn-primary
{
  background-color: deeppink;
  border-color: transparent;
  color: black;

}

#menu .active
{
    background-color: deeppink !important;
    color: black !important;
    
    
}